
  <ion-header>
    <ion-toolbar>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-title>  </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-grid align-self-center>
      <ion-row height="50px">
        <ion-col >
          <div>
           <ion-text>Smart Travel</ion-text>
           </div>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <div>
            <ion-img src="./assets/flights.jpeg"></ion-img>
            <ion-label>Flights</ion-label>
           </div>

        </ion-col>
        <ion-col >
          <div>
            <ion-img src="./assets/hotel.jpeg"></ion-img>
            <ion-label>Hotel</ion-label>
           </div>
         
        </ion-col>
        <ion-col >
          <div routerLink="/bus">
            <ion-img src="./assets/bus.jpeg"></ion-img>
            <ion-label>Bus</ion-label>
           </div>
      
        </ion-col>
        <ion-col>
          <div>
            <ion-img src="./assets/holidays.png"></ion-img>
            <ion-label>Holidays</ion-label>
           </div>
      
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col >
          <div>
            <ion-img src="./assets/cars.jpeg"></ion-img>
            <ion-label>Cars</ion-label>
           </div>

        </ion-col>
        <ion-col >
          <div>
            <ion-img src="./assets/train.jpeg"></ion-img>
            <ion-label>Train</ion-label>
           </div>
         
        </ion-col>
        <ion-col >
          <div>
            <ion-img src="./assets/activities.png"></ion-img>
            <ion-label>Activities</ion-label>
           </div>
      
        </ion-col>
        <ion-col>
          <div>
            <ion-img src="./assets/holidays.png"></ion-img>
            <ion-label>Holidays</ion-label>
           </div>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col >
          <div>
            <ion-img src="./assets/mytrip.png"></ion-img>
            <ion-label>My trip</ion-label>
           </div>

        </ion-col>
        <ion-col >
          <div>
            <ion-img src="./assets/mybooking.jpeg"></ion-img>
            <ion-label>My booking</ion-label>
           </div>
         
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>

        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-content>

  
