ion-slide{
    margin-top:200px;
    margin:auto;
    width:200px;
}


ion-card{
    margin-top:200px;
    margin:auto;
    width:200px;
}
ion-label{
    color:darkblue;
}
h2{
   
    font-weight: bolder;
}
