ion-content{
  
  ion-grid{
      border:4px;
      margin-top:20%;
    ion-col{
      background-color:#fff ;
    }
  }
    ion-img{
      height: 60px;
      width:60px;
    }
    ion-text{
      font-size:20px;
      font-family:cursive;
      text-align:center;
      color:blue;
      margin-left:auto;
    }
   
  }