<ion-header>
  
</ion-header>



<ion-content >
  <ion-card align-self-center>
   <ion-avatar>
     <ion-img src="../assets/homeimage.jpg"></ion-img>
   </ion-avatar>
  </ion-card>
  <h2>Smart Bus Travel</h2>
    <ion-row>
      <ion-grid>
    <ion-col align-self-center> 
      
      <ion-button routerLink="/bus" expand="block" color="danger" >Bus Owner</ion-button>
      <pre><ion-button routerLink="/profile" expand="block" color="primary" >Passenger</ion-button></pre>
     
    </ion-col>
 
</ion-grid>
  </ion-row>
</ion-content>