<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button></ion-back-button>
      <ion-title>Login</ion-title>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-footer >
    <ion-row>
      <ion-grid >
        
<form >
    
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" ></ion-input>
    
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"  ></ion-input>
    
    </ion-item>
 
    <ion-item>
    <ion-row>
      <ion-col >
       
        <ion-button color="success" expand="full" shape="round" routerLink="/eagle" >Log in</ion-button>
      </ion-col>
    </ion-row>
  </ion-item>

  </form>
 

</ion-grid>
</ion-row>
</ion-footer>
</ion-content>